header{
    margin: 0;
    background-color: rgb(102, 255, 255);
    width: 100%;
    height: 100%;
    top: 0;
}
*{
    margin: 0;
}
nav{
    position: sticky;
    padding-bottom: 3mm;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
a{
    display: inline-block;
    color: black;
    font-weight: bold;
}
.hero > .slide{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-image: url("img/james.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 3s;
    object-fit: contain;
    background-color: rgb(45, 50, 56);

}
.hero{
    background-color: rgba(102, 255, 255, 0.486);

    width: 100%;
    height: 100vh;
    transition: all 1s;
}
.text > h1{
    width: 100%;
    font-size: 50px;
    word-spacing: 0.25cm;
    padding-bottom: 1cm;
    letter-spacing: 0.125cm;
    animation-name: kehinde;
    animation-duration: 3s;
}
.text{
    margin: auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-content: center;
}

button{
    font-weight: bolder;
    font-size: 20px;
    border: 0;
    padding: 0.5cm 1cm;
    border-radius: 0.25cm;
    transition: all 1s;
}
#button{
    border: 0;
    padding: 0.5cm;
    font-weight: bolder;
    border-radius: 0.25cm;
    background-color: rgb(102, 255, 255);
    margin: 1cm;
}
#special{
    background-color: rgba(245, 222, 179, 0);
    border: solid 3px black;
}
button:hover{
    font-size: 23px;
}
input[type=button]{
    background-color: rgba(250, 250, 250, 0);
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
    padding: 0.5cm 1cm;
    margin-top: 1cm;
    
    z-index: 10000;
    cursor: pointer;
    border-radius: 0.25cm;
}

input[type=button]:hover{
    background-color: rgba(255, 255, 255, 0.619);
}

@keyframes kehinde{
    from{
        font-size: 0px;
        word-spacing: normal;
        letter-spacing: normal;
    } to{
        word-spacing: 0.25cm;
        letter-spacing: 0.125cm;
        font-size: 50px;
    }
}

@media screen and (min-width:480px){
    #stuff{
        visibility: hidden;
        width: 0%;
    }
    nav{

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: lightblue;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 100;
    }
    nav > h1{
        font-size: 25px;
        padding-left: 1cm ;
    }
    ul{
        display: flex;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 50%;
        transition: all 1s;
    }
    li{
        list-style-type: none;
        display: block;
        cursor: pointer;
        transition: all 0.5s;
        width: 100%;
        height: 100%;

    }
    li:hover{
        background-color: aqua;
    }
}
@media screen and (max-width:480px){
    #stuff{
        visibility:visible;
        float: right;
        width: 25%;
        border: none;
        padding: 0;
        display: inline-block;
        
    }
    .container{
        display: block;
    }
    ul{
        visibility: hidden;
        width: 0%;
        display: none;

        position: static;
        margin: 0;
        padding: 0;
        
    }
    li{
        margin: 0;
        padding: 0;
        height: auto;
        text-align: center;
        display: block;
        width: 100%;
        padding: 3mm;

    }

    nav{
        display: block;
        padding-bottom: 1cm;
    }
    nav > h1{
        display: inline-block;
    }
    
}